* {
    margin: 10px;
    padding: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    text-align: center;
    background-color: bisque;
    font-size: larger;
}

p {
    line-height: 35px;
}

.container {
    margin-left: 500px;
    margin-right: 500px;
    font-size: 20px;
    background-color:honeydew;
}

img[src="assets/lana-did-you-know-alt.jpg"] {
    width: 250px;
}